<strong>Olá, {{ student_first_name }}!</strong>
<p>
  Sua dúvida foi respondida pela nossa equipe! <br />
  Seguem os detalhes:
</p>
<p>
    <strong>Pergunta: </strong> {{ helpOrder.question }} <br />
    <strong>Resposta: </strong> {{ helpOrder.answer }} <br />
    <br />
    <small>
        Bora ficar monstro!
    </small>
</p>
